PORT=80

# Smooch APP ID from the app settings page in your Smooch dashboard (https://app.smooch.io/apps/<APP_ID>/settings)
APP_ID=64469b124fed3676636029bf

# Smooch web messenger's INTEGRATION ID (https://docs.smooch.io/guide/web-messenger/)
INTEGRATION_ID=64469b1709c8b1e7ac045164

# a Smooch app level secret key (https://app.smooch.io/<APP_ID>/settings)
KEY_ID=app_651e8cb5fe30b32f87aa6cd1
SECRET=OgX70aGOKh6rBTAZCG6YlUKCefv65tG2sbA5pNvMKX6dPImDmjXCnPGmSxsgwqiW3-NamiHSmzQR5n6Ghsb3DA

# a publicly accessible domain that exposes this service to the web (https://<SUBDOMAIN>.ngrok.io)
SERVICE_URL=https://sujfalussy.github.io/extensions-service-subscription/
